version: '3.3'

services:
  fig-db:
    image: mysql:5.7.42-debian
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      # Password for root access
      # For Production use very secure password
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      # Port forwarding
      # Port on Host : Port in Container
      - ${MYSQL_LOCAL_PORT}:3306
    volumes:
      - ./database/data:/docker-entrypoint-initdb.d
      - mysql-db:/var/lib/mysql

  fig-backend:
    image: fig-backend:latest
    restart: always
    depends_on:
      - fig-db
    build: 
      context: ./service
      dockerfile: ./Dockerfile
    environment:
      PORT: ${PORT}
      SECRET_TOKEN: ${SECRET_TOKEN}
      MYSQL_HOST: fig-db
      MYSQL_PORT: ${MYSQL_LOCAL_PORT}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      # Password for root access
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      # Port forwarding
      # Port on Host : Port in Container
      - 443:443

# Names our volume
volumes:
  mysql-db:
